$(".comment-container").append("<div class='row' id='comment-<%= @comment.id %>'>" +
    "<div class='col-md-offset-2 col-md-8 text-left'>" +
      "<div class='review-comment-header" + 
      
        <% if @comment.user.id == @review.user_id %>
          "op-comment-header" +
        <% end %>
      "'>" +
        "<%= @comment.user.username %>" + " - " + 
        "<%= time_ago_in_words(@comment.created_at) %>" + " ago" + 
        
        
        "<div class='comment-rating'>" +
        <% (1..5).each do |i| %>
        <% if i <= @comment.rating %>  
          " <img class='comment-star' src='/assets/red_star.gif'>" +
          <% else %>
          " <img class='comment-star' src='/assets/empty_star.gif'>" +
        <% end %>
        <% end %>
        "</div>" +
        
      "</div>" +
        
      "<div class='review-comment'>" +
        "<%= @comment.content %>" +

          <% if current_user?(@comment.user) %>
            "<div class='comment-delete'>" +
              "<a data-confirm='You sure?' rel='nofollow' data-method='delete' data-remote='true' href='/comments/<%=@comment.id%>'>Delete</a>" +
            "</div>" +
          <% end %>

      "</div>" +
    "</div>" +
  "</div>");
  
for (i = 1; i < 6; i++) {
	$("#" + i + "-star").attr("class", "star-empty");
}

$("input:checked").removeAttr("checked");

$("#new_comment textarea").val("");
