<% @user.saved_reviews.each do |r| %>
    <div class="row saved-review" id="saved-review-<%= r.id %>">
      <div class="col-md-12">
        <h3 class="saved-review-header"><%= link_to "#{r.title}", r %></h3>
          <%= render "shared/static_rating", rating: calculate_rating(r) %>
          <br>
          <%= form_for(current_user.stickied_reviews.find_by(review_id: r.id),
          html: { method: :delete }, remote: :true) do |f| %>
          <%= hidden_field_tag :review_id, r.id %>
          <%= f.submit "Unsave this review", data: { confirm: "You sure?" }, class: "text-left btn-link button-link" %>
      </div>
    </div>
  <% end %>
<% end %>