<div class="row">
  <div class="col-md-12">
    <h1 class="main-title"><%= @user.email %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="profile-subheader">Reviews you've submitted</h2>
     <div class="review-list">
      <% @user.reviews.each do |r| %>
        <p>
          <%= link_to "#{r.url}", r %> 
          <%= render "shared/static_rating", rating: r.rating %>
          <%= link_to "Delete", r, class: "button-general", method: :delete,
        data: { confirm: "You sure?" } %></p>
      <% end %>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-12">
    <h2 class="profile-subheader">Saved Reviews</h2>
      <div class="review-list">
        <%= render "saved_reviews" %>
      </div>
  </div>
</div>
