<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h2>Comments</h2>
  </div>
</div>

<% @review.comments.each do |c| %>
  <div class="row comment-holder" id="comment-<%=c.id%>">
    
    <div class="col-md-offset-2 col-md-2 text-left">
       <div class="review-comment-header 
        <% if c.user.id == @review.user_id %>
          op-comment-header
        <% end %>
        ">
        <%= c.user.username %> <br>
        <%= c.user.comments.count %> comments <br>
        User since <%= c.user.created_at.strftime("%b %Y") %> 
        
        
      </div>
    </div>
    
    <div class="col-md-6 text-left">
      
      <div>
        
        <%if c.rating != nil %>
          <%= render "shared/comment_rating", rating: c.rating %> - 
        <% end %>
        
        <%= time_ago_in_words(c.created_at) %> ago
        
        <div class="review-comment">
          <%= c.content %>
        </div>
        
      </div>

        <%= form_for(c, html: { class: "edit-comment-form", remote: :true }) do |f| %>
          <%= f.text_area :content, id: nil, rows:"6", cols: "110" %>
        <% end %>

      <% if current_user?(c.user) %>
        <div class="comment-delete">
          <%= link_to "Delete", c, method: :delete, remote: :true,
          data: { confirm: "You sure?" } %>
          <%= link_to "Edit", "#", class: "edit-link"%>

        </div>
      <% end %>
        
    </div>
  </div>
<% end %>