<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="main-title">Submit a review</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    
    <%= form_for(@new_review, html: { class: "form-general" }) do |f| %>
    
      <%= render "shared/error_messages", object: f.object %>
      
      <%= f.label :url, "URL" %>
      <%= f.text_field :url, class: "form-control", placeholder: "Copy and paste URL here" %>
      <div>
        <%= f.label :rating, "Rate how everything went" %>
        
        <div class="star-rating">
          <%= render "shared/star_rating", f: f %>
        </div>
        
      </div>
      <%= f.label :content, "Review" %>
      <%= f.text_area :content, placeholder: "Enter your review here", rows:"20", cols: "76" %>
      
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    
    <% end %>
    
  </div>
</div>
