<div class="row">
  <div class="col-md-12 text-center">
  <h1 class="main-title"><%= link_to @review.url, "http://#{@review.url}", target: "_blank" %></h1>
  </div>
  
    <%= render "content" %>
      
      <%= render "comments" %>
  
      <% if logged_in? %>
     
    
          <% if !review_author?(current_user, @review) %>
           
            <div class="col-md-offset-2 col-md-10 text-left comment-form">
            <%= form_for(@comment) do |f| %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :review_id, params[:id]%>
              <%= f.text_area :content, placeholder: "Write your own review or comment", rows: "10", cols: "70" %>
              <%= f.submit "Submit comment", class: "btn btn-primary" %>
            <% end %>
            </div>
            
          <% end %>
          
          <% if current_user.stickied_reviews.find_by(review_id: params[:id]).nil? &&
          !review_author?(current_user, @review) %>
            
            <div class="col-md-offset-2 col-md-10 text-left comment-form">
            <%= form_for(current_user.stickied_reviews.build) do |f| %>
              <%= hidden_field_tag :user_id, current_user.id %>
              <%= hidden_field_tag :review_id, params[:id]%>
              
              <%= f.submit "Save this review", class: "btn btn-primary" %>
              <% end %>
              </div>
            <% end %>
          
  
        
        <% if current_user?(@review.user) %>
        <div class="col-md-offset-2 col-md-10 text-left", id="review-delete">
          <%= link_to "Delete this review", @review, method: :delete, 
          data: { confirm: "You sure?" } %>
          </div>
        <% end %>
      <% end %>
      
    
    
    
    
  </div>
</div>
