<div class="row">
  <div class="col-md-12 text-center">
    <h1><%= @review.url %></h1>
    <div class="col-md-offset-2 col-md-8">
      <p>
        <%= @review.content %>
      </p>
      
      <% if logged_in? %>
        <p>
          <%= form_for(current_user.saved_reviews.build) do |f| %>
            <%= hidden_field_tag :review_id, params[:id] %>
            <%= f.submit "Save this review", class: "btn btn-primary" %>
          <% end %>
        </p>
        
        <% if current_user?(@review.user) %>
          <%= link_to "Delete", @review, method: :delete,
                                       data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
      
    </div>
    
    
    
  </div>
</div>
