<div class="row">
  <div class="col-md-offset-2 col-md-8 text-left">
    <h1 class="main-title">
      <%= @review.title %>
    </h1>
  </div>
</div>


<%= render "review_info" %>

<div class="comment-container">
  <%= render "comments" %>
</div>


<% if logged_in? %>
  <div class="row"> 
    <div class="col-md-offset-2 col-md-8 text-left">

      <%= form_for(@comment, html: { class: "form-general" }) do |f| %>
        
        <%= render "shared/error_messages", object: f.object %>
          
        <%= f.hidden_field :review_id, value: params[:id] %>
        <%= f.label :rating, "Rate how everything went" %>
        <div class="star-rating">
          <%= render "shared/star_rating", f: f %>
        </div>
        <%= f.text_area :content, placeholder: "Write your own review or comment", 
        rows: "10", cols: "70" %>
        <%= f.submit "Submit comment", class: "btn btn-primary" %>
                
      <% end %>
    </div>
  </div>
<% end %>         


        

      
    
    
    


